{
	"presets": [
		"@babel/env"
	],
	"plugins": [
		[
			"@babel/plugin-proposal-class-properties",
			{ loose: false, },
		],
		[
			"@babel/transform-react-jsx", 
			{ pragma: "h", pragmaFrag: "Fragment" },
		],
	],
}